<section class="usa-section" id="hotspot_featured" >
	<div class="paper">
	    <div class="grid-container grid-container-desktop">
	      	<div class="grid-row">
		      	<div class="grid-col-12">
                    <h1 class="page-header">Bulk Social Media Account Upload</h1>
                    <p>Put the requisite csv format here...</p>
                    <div>
                        <%= form_for @import, :url => {:action => "bulk_social_media_upload", :controller => "social_media"} do |f| %>
                        <label id="input-label-id" class="usa-button usa-button--outline">
                            Choose file
                            <span style="display:none">
                                <%= f.file_field :import, required: true %>
                            </span>
                        </label>
                        <p><%= f.submit "Submit", disabled: true, :class => "usa-button" %><p>
                        <% end %>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>
<% content_for :additional_javascript do %>
  <script>
    $(document).ready(
        function(){
            $('input:submit').attr('disabled',true);
            $('input:file').change(
                function(){
                    if ($(this).val()){
                        $('input:submit').removeAttr('disabled'); 
                    }
                    else {
                        $('input:submit').attr('disabled',true);
                    }
                });
            }  
        );
  </script>
<% end %>
